.gform_fields {
  @extend .list-unstyled;
  @extend .row;
 
  input, select, textarea {
    @extend .form-control;
    box-sizing: content-box;
    display: inline-block !important;
  }
 
  textarea {
    height: auto;
  }
 
}
 
.gfield_description {
  @extend .alert;
}
 
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
 
.validation_message {
  @extend .alert;
  @extend .alert-success;
}
 
.gform_button {
  @extend .btn;
}
 
.gfield_required {
  color: $danger;
}
 
.gform_wrapper {
  ul.gfield_radio, 
  ul.gfield_checkbox {
    padding-left: 0;
    li {
      @extend .form-check;
      display: inline-flex;
      width: 100%;
      label {
        display: block;
        flex-grow: 1;
        padding-left: .75rem;
        padding-right: .75rem;
      }
      input {
        width: auto;
        padding: 0px 8px;
      }
    }
  }
}
 
.gform_validation_container {
  display: none;
}
 
.gfield_error .ginput_container {
  margin-bottom: 10px;
}

.gfield_description {
  color: $gray-900;
  font-size: 80%;
}
