// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// body min-height css to close footer gap
#page-wrapper {
  min-height: calc(100vh - 144px);
}

.gform_ajax_spinner {
  position: relative !important;
  left: 20px !important;
  display: inline-block !important;
}

.site-info {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
